@import url('https://fonts.googleapis.com/css?family=Arimo');
.flex-container, .top-menu {
	background: rgba(255,255,255,.5);
	box-shadow: 3px 0 7px rgba(0,0,0,.3);
	padding: 0px;
	
}

.flex-container, .top-menu:after {
	content: "";
	display: flex;
	clear: both;
}

body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}	
/*
.flex-pictures, .img {
	width: 12%; 
	height: 12%;
    border: 5px double grey;
}

.flex-pictures, .fig {
	padding-left: 30%;
	width: 28%;
	height: 28%;
}

.flex-pictures {
	display: flex;
	flex-shrink: 3;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}*/

.flex-container {
	/* We first create a flex layout context */
	display: flex;
  
	/* Then we define the flow direction 
     and if we allow the items to wrap 
	* Remember this is the same as:
	* flex-direction: row;
	* flex-wrap: wrap;
	*/
	flex-flow: row wrap;
	/* Then we define how is distributed the remaining space */
	justify-content: space-around;
	padding: 0;
	margin: 0;
	list-style: none;
}

.flex-container a {
	
	text-decoration: none;
	display: flex;
	position: relative;
	line-height: 58px;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
	letter-spacing: 5px;
	font-family: "Arimo", sans-serif;
	font-weight: bold;
	color: #0000FF;
	transition:.3s linear;
	justify-content: space-around;
}

.flex-container a:before { /*надстрочный индикатор*/
	content: "";
	width: 9px;
	height: 9px;
	background: #0000FF;
	position: absolute;
	left: 38%;
	transform: rotate(45deg) translateX(6.5px);
	opacity: 0;
	transition: .3s linear;
	justify-content: space-around;
}

.flex-container a:hover:before {
	opacity: 1;
}

@media all and (max-width: 1040px) {
	.flex-container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
		justify-content: space-around;
		font-size: 5px;
	}
	.flex-container a {
		font-size: 10px;
		letter-spacing: 1px;
		line-height: 58px;
	}
}	
@media all and (max-width: 800px) {
  .flex-container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
  .flex-container a {
		font-size: 10px;
		letter-spacing: 1px;
		line-height: 58px;
	}
}

/* Small screens */
@media all and (max-width: 500px) {
	
	.flex-container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
		justify-content: space-around;
		font-size: 5px;
	}
	.flex-container a {
		font-size: 10px;
		letter-spacing: 1px;
		line-height: 58px;
	}
	.flex-container {
    /* On small screens, we are no longer using row direction but column */
		flex-direction: space-around;
	}
	.flex-container a:before { /*надстрочный индикатор*/
		content: "";
		width: 0px;
		height: 0px;
		background: #0000FF;
		position: absolute;
		left: 32%;
		transform: rotate(45deg) translateX(6.5px);
		opacity: 0;
		transition: .3s linear;
		justify-content: space-around;
		vertical-align: 20px;
	}
}